@media(max-width: 800px){
	.logo{
		flex-direction: column;
	}
	footer{
		flex-direction: column;
	}
	.main_link{
		margin:15px 0;
	}
}
@media(max-width: 500px){
	.container{
		padding: 0 2%;
	}
	.item{
		flex-basis:80%;
	}
}
