
body{
	background-image: url(../img/important/проект.png);
		background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.h{
	text-align: center;
	margin-top: 500px;
	color: white;
	font-size: 50px;
}
.container{
	width: 90%;
	padding:10px;
	background-color: white;
	color: black;
	font-size: 5px;
	margin: 0 auto;
	display: block;
	text-align: center;


}
.text, li{
	color: black;
	font-size: 30px;
}
h1{
	text-align: center;
	color: black;
	font-size: 50px;
}
img{
	height: 100%;
	margin: auto;
	width: 100%;
}