.info,.info1{
	display: inline-block;
	width: 19%;
	height: 40px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	padding-top: 15px;
	margin: auto;
	text-decoration: none;
	color: black;
	padding-right: 0;
	padding-left: 0;
}
.info1{
	background-color: red;
	color: white;
}
.buttons{
	background-color: white;
	padding: auto;
	width: 100%;
	text-align: center;	
}
.info:hover{
	background-color: black;
	color: white;
}